<div class="page-header">
  <h2>Jobs tagged '<%= tag %>' <small>Across all shards</small></h2>
</div>

<%= erb :_client_jobs, :locals => { :client_jobs => client_jobs, :tag => tag, :queues => queues } %>

